<!DOCTYPE html>
<html>
<head>
    <meta name="google-site-verification" content="CmEROeOUZRl5cIPRUdqQwNkTeSsnvs87UyDhC1Pk4_0" />
    <title>채팅방</title>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href='./css/style.css'>
    <link type="text/css" rel="stylesheet" href='./css/chat.css'>

    <!-- font awesome 추가 -->
    <script src="https://kit.fontawesome.com/60fa22b10c.js" crossorigin="anonymous"></script>

    <!-- Bootstrap cdn 설정 (영어버전) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Bootstrap cdn 설정 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- 채팅을 위한 js파일 -->
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>

<div class="messaging" style="padding-bottom: 0px;">
    <div class="inbox_msg" >
        <div class="inbox_people">
            <div class="headind_srch">
                <div class="recent_heading">
                    <h4 class="room_no_flag">Recent(<%= room_no %>)</h4>
                </div>
                <div class="srch_bar">
                    <div class="stylish-input-group">
                        <input type="text" class="search-bar"  placeholder="Search" >
                    </div>
                </div>
            </div>
            <!-- 채팅방 -->
            <div class="inbox_chat scroll" style="height: 360px;">
<!--                <div class="chat_list active_chat">-->
<!--                    <div class="chat_people">-->
<!--                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>-->
<!--                        <div class="chat_ib">-->
<!--                            <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>-->
<!--                            <p>Test, which is a new approach to have all solutions-->
<!--                                astrology under one roof.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
        <!-- 메시지 -->
        <div class="mesgs">
            <div class="msg_history" style="height: 360px;">
                <%
                    //메시지가 존재한다면
                    if(typeof messages !== "undefined"){
                        //메시지 개수만큼 출력
                        for(var i = 0;i < messages.length;i++){
                            //메시지 주인과 현재 로그인한 id가 같다면
                            if(my_email == messages[i].user_id){ %>
                                <div class="outgoing_msg">
                                    <div class="sent_msg">
                                        <p><%= messages[i].content %></p>
                                        <span class="time_date"><%= messages[i].creationDate %></span> </div>
                                </div>
                             <!-- 메시지 주인과 현재 로그인한 id가 같지 않다면 -->
                          <% }else{ %>
                                <div class="incoming_msg">
                                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="received_msg">
                                        <div class="received_withd_msg">
                                            <span class="user_nick_name"><%= messages[i].nick_name %></span>
                                            <p><%= messages[i].content %></p>
                                            <span class="time_date"><%= messages[i].creationDate %></span></div>
                                    </div>
                                </div>
                          <% }
                         }
                    }
              %>
            </div>
            <div class="type_msg">
                <div class="input_msg_write">
                    <input type="text" class="write_msg" placeholder="Type a message" />
                    <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    let user_id = "";
    let user_nick_name = "";
    let global_room_no = '<%= room_no %>'*1;
    let counter_user_email = '<%= counter_user_email %>';
    console.log("[test]global_room_no:",global_room_no);
    console.log("[test]counter_user_email:",counter_user_email);

    //스크롤바 존재여부 체크하기
    (function($) {
        $.fn.hasVerticalScrollbar = function() {
            // This will return true, when the div has vertical scrollbar
            return this.get(0).scrollHeight > this.height();
        }
        $.fn.hasHorizontalScrollbar = function() {
            // This will return true, when the div has horizontal scrollbar
            return this.get(0).scrollWidth > this.width();
        }
    })(jQuery);

    //세션정보 가져오기(동기)
    $.ajax({
        url:'/userSession',
        dataType:'json',
        type:'POST',
        async:false,
        success:function(data){
            console.log("[세션]data:",data);
            user_id = data.userId;
            user_nick_name = data.nickName;
        }
    });

    //메시지를 상대방이 읽었을경우, 읽었다고 표시하기


    $(function() {
        // socket.io 서버에 접속한다
        let socket = io();

        // // 서버로 자신의 정보를 전송한다.
        // socket.emit("login", {
        //     'room_no' : room_no
        // });
        //
        // // 서버로부터의 메시지가 수신되면
        // socket.on("login", function(data) {
        //     console.log("[로그인]data:",data);
        //
        // });

        // 서버로부터의 메시지가 수신되면
        socket.on("chat", function(data) {
            console.log("[클라이언트 수신]data:",data);
            console.log("[클라이언트 수신]user_id:",user_id);
            let user_email = data.user_email;
            let user_nick_name = data.user_nick_name;
            let msg = data.msg;
            let room_no = data.room_no;
            let creationDate = data.creationDate;

            //-1번방일경우 메시지 받았을때 방이동.
            if(global_room_no == -1){
                global_room_no = room_no;
                $(".room_no_flag").html("Recent("+global_room_no+")");
            }

            //현재방에 맞는 메시지일 경우
            if(global_room_no == room_no){
                //현재 로그인된 아이디와 메시지 보낸 사람이 같다면
                if(user_id == user_email){
                    let $msg_history = $(".msg_history");
                    let html =
                        "               <div class=\"outgoing_msg\">\n" +
                        "                    <div class=\"sent_msg\">\n" +
                        "                        <p>"+data.msg+"</p>\n" +
                        "                        <span class=\"time_date\">"+creationDate+"</span> </div>\n" +
                        "                </div>";
                    $msg_history.append(html);
                //현재 로그인된 아이디와 메시지 보낸 사람이 같다면
                }else{
                    let $msg_history = $(".msg_history");
                    let html = "<div class=\"incoming_msg\">\n" +
                        "                                    <div class=\"incoming_msg_img\"> <img src=\"https://ptetutorials.com/images/user-profile.png\" alt=\"sunil\"> </div>\n" +
                        "                                    <div class=\"received_msg\">\n" +
                        "                                        <div class=\"received_withd_msg\">\n" +
                        "                                            <span class=\"user_nick_name\">"+user_nick_name+"</span>\n" +
                        "                                            <p>"+msg+"</p>\n" +
                        "                                            <span class=\"time_date\">"+creationDate+"</span></div>\n" +
                        "                                    </div>\n" +
                        "                                </div>";
                    $msg_history.append(html);
                }
                //스크롤 제일 아래로
                $(".msg_history").scrollTop($(".msg_history")[0].scrollHeight);
            }else{
                console.log("이메시지는 옆메시지로 가야함");
            }

            //메시지를 상대방이 읽었을경우, 읽었다고 표시하기

            //채팅 리스트 완전 리로드
            chat_list_reload_full();
        });

        // Send 버튼이 클릭되면
        $(".msg_send_btn").on("click", function() {
            let send_message_input = $(".write_msg");
            let send_message = $(".write_msg").val();

            //빈값이 아닐때
            if("" != send_message){
                // 서버로 메시지를 전송한다.
                socket.emit("chat", { 'msg': send_message ,'room_no':global_room_no, 'counter_user_email':counter_user_email});
                //초기화
                send_message_input.val("");
            }

        });


        //스크롤 제일 아래로
        $(".msg_history").scrollTop($(".msg_history")[0].scrollHeight);

        //채팅 리스트 완전 리로드
        chat_list_reload_full();

    });


    //채팅리스트 리로드
    function chat_list_reload(data) {
        let $inbox_chat = $(".inbox_chat");
        //초기화
        $inbox_chat.html("");

        for(let i=0; i<data.length;i++) {
            let item = data[i];
            let html = "";
            //리스트 방번호와 현재 방번호가 같다면 방 활성화
            if(item.room_no == global_room_no){
                html += "               <div class=\"chat_list active_chat\" data-nick-name=" + item.nickName + " data-email=" + item.counter_user_id + " data-room_no= "+ item.room_no +" data-counter_user_id= "+ item.counter_user_id +" data-counter_nick_name= "+ item.counter_nick_name +">\n";
            //리스트 방번호와 현재 방번호가 같지 않다면 방 비활성화
            }else{
                html += "               <div class=\"chat_list\" data-nick-name=" + item.nickName + " data-email=" + item.counter_user_id + " data-room_no= "+ item.room_no +" data-counter_user_id= "+ item.counter_user_id +" data-counter_nick_name= "+ item.counter_nick_name +">\n";
            }
            html +=
                "                    <div class=\"chat_people\">\n" +
                "                        <div class=\"chat_img\"> <img src=\"https://ptetutorials.com/images/user-profile.png\" alt=\"sunil\"> </div>\n" +
                "                        <div class=\"chat_ib\">\n" +
                "                            <h5>"+item.counter_nick_name+"<span class=\"chat_date\">"+item.creationDate+"</span></h5>\n" +
                "                            <p>"+item.content+"</p>\n";
            //안 읽은 개수가 존재할때만 표시해주기
            if(item.read_num > 0){
                html +="                     <div class=\"read_num\">"+item.read_num+"</div>";
            }
            html +=
                "                        </div>\n" +
                "                    </div>\n" +
                "                </div>";

            $inbox_chat.append(html);
        }
    }

    //채팅 리스트 완전 리로드
    function chat_list_reload_full(){
        //채팅 리스트 정보 가져오기
        $.ajax({
            url:'/chatList',
            dataType:'json',
            type:'POST',
            data:{'user_id':user_id},
            success:function(data){
                console.log("data:",data);
                chat_list_reload(data);

                //이벤트 초기화
                $(".chat_list").off("click");

                $(".chat_list").on("click", function() {
                    let room_no = $(this).data("room_no");
                    let counter_user_email = $(this).data("email");
                    let user_email = user_id;
                    let is_room_no = true;
                    console.log("room_no:",room_no);
                    console.log("counter_user_email:",counter_user_email);
                    console.log("user_email:",user_email);
                    console.log("is_room_no:",is_room_no);
                    window.location.href = 'https://wowtravel.tk:3000/chatRoom?counter_user_email='+counter_user_email+'&room_no='+room_no+'&user_email='+user_email+"&is_room_no="+is_room_no;
                    // go_room_with_room_no(room_no, user_email);
                });
            }
        });
    }

    //방번호로 방에 들어가기
    function go_room_with_room_no(room_no, user_email) {
        //모든 부모 윈도우에게 메시지 전송
        window.parent.postMessage({ 'room_no': room_no, 'counter_user_email': user_email, 'is_room_no': true }, '*');
    }

</script>

</body>
</html>
