<!DOCTYPE html>
<html>
<head>
    <meta name="google-site-verification" content="CmEROeOUZRl5cIPRUdqQwNkTeSsnvs87UyDhC1Pk4_0" />
    <title>채팅방</title>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href='./css/style.css'>
    <link type="text/css" rel="stylesheet" href='./css/chat.css'>

    <!-- font awesome 추가 -->
    <script src="https://kit.fontawesome.com/60fa22b10c.js" crossorigin="anonymous"></script>

    <!-- Bootstrap cdn 설정 (영어버전) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Bootstrap cdn 설정 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- 채팅을 위한 js파일 -->
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>

<div class="messaging" style="padding-bottom: 0px;">
    <div class="inbox_msg" >
        <div class="inbox_people">
            <div class="headind_srch">
                <div class="recent_heading">
                    <h4>Recent(<%= room_no %>)</h4>
                </div>
                <div class="srch_bar">
                    <div class="stylish-input-group">
                        <input type="text" class="search-bar"  placeholder="Search" >
                    </div>
                </div>
            </div>
            <div class="inbox_chat scroll" style="height: 360px;">
                <div class="chat_list active_chat">
                    <div class="chat_people">
                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="chat_ib">
                            <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                            <p>Test, which is a new approach to have all solutions
                                astrology under one roof.</p>
                        </div>
                    </div>
                </div>
                <div class="chat_list">
                    <div class="chat_people">
                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="chat_ib">
                            <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                            <p>Test, which is a new approach to have all solutions
                                astrology under one roof.</p>
                        </div>
                    </div>
                </div>
                <div class="chat_list">
                    <div class="chat_people">
                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="chat_ib">
                            <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                            <p>Test, which is a new approach to have all solutions
                                astrology under one roof.</p>
                        </div>
                    </div>
                </div>
                <div class="chat_list">
                    <div class="chat_people">
                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="chat_ib">
                            <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                            <p>Test, which is a new approach to have all solutions
                                astrology under one roof.</p>
                        </div>
                    </div>
                </div>
                <div class="chat_list">
                    <div class="chat_people">
                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="chat_ib">
                            <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                            <p>Test, which is a new approach to have all solutions
                                astrology under one roof.</p>
                        </div>
                    </div>
                </div>
                <div class="chat_list">
                    <div class="chat_people">
                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="chat_ib">
                            <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                            <p>Test, which is a new approach to have all solutions
                                astrology under one roof.</p>
                        </div>
                    </div>
                </div>
                <div class="chat_list">
                    <div class="chat_people">
                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="chat_ib">
                            <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                            <p>Test, which is a new approach to have all solutions
                                astrology under one roof.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mesgs">
            <div class="msg_history" style="height: 360px;">
                <%
                    //메시지가 존재한다면
                    if(typeof rows !== "undefined"){
                        //메시지 개수만큼 출력
                        for(var i = 0;i < rows.length;i++){
                            //메시지 주인과 현재 로그인한 id가 같다면
                            if(my_email == rows[i].user_id){ %>
                                <div class="outgoing_msg">
                                    <div class="sent_msg">
                                        <p><%= rows[i].content %></p>
                                        <span class="time_date"><%= rows[i].creationDate %></span> </div>
                                </div>
                             <!-- 메시지 주인과 현재 로그인한 id가 같지 않다면 -->
                          <% }else{ %>
                                <div class="incoming_msg">
                                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="received_msg">
                                        <div class="received_withd_msg">
                                            <p><%= rows[i].content %></p>
                                            <span class="time_date"><%= rows[i].creationDate %></span></div>
                                    </div>
                                </div>
                          <% }
                         }
                    }%>
            </div>
            <div class="type_msg">
                <div class="input_msg_write">
                    <input type="text" class="write_msg" placeholder="Type a message" />
                    <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    let user_id = "";
    let user_nick_name = "";
    let room_no = <%= room_no %>;
    console.log("[test]room_no:",room_no);

    //세션정보 가져오기(동기)
    $.ajax({
        url:'/userSession',
        dataType:'json',
        type:'POST',
        async:false,
        success:function(data){
            console.log("[세션]data:",data);
            user_id = data.userId;
            user_nick_name = data.nickName;
        }
    });


    $(function() {
        // socket.io 서버에 접속한다
        let socket = io();

        // 서버로 자신의 정보를 전송한다.
        socket.emit("login", {
            'room_no' : room_no
        });

        // 서버로부터의 메시지가 수신되면
        socket.on("login", function(data) {
            console.log("[로그인]data:",data);

        });

        // 서버로부터의 메시지가 수신되면
        socket.on("chat", function(data) {
            console.log("[클라이언트 수신]data:",data);
            let $msg_history = $(".msg_history");
            let html =
                "               <div class=\"outgoing_msg\">\n" +
                "                    <div class=\"sent_msg\">\n" +
                "                        <p>"+data.msg+"</p>\n" +
                "                        <span class=\"time_date\"> 11:01 AM    |    June 9</span> </div>\n" +
                "                </div>";
            $msg_history.append(html);
        });

        // Send 버튼이 클릭되면
        $(".msg_send_btn").on("click", function() {
            let send_message_input = $(".write_msg");
            let send_message = $(".write_msg").val();

            //빈값이 아닐때
            if("" != send_message){
                // 서버로 메시지를 전송한다.
                socket.emit("chat", { 'msg': send_message ,'room_no':room_no});
                //초기화
                send_message_input.val("");
            }

        });


        //유저 리스트 정보 가져오기
        $.ajax({
            url:'/userList',
            dataType:'json',
            type:'POST',
            data:{'user_id':user_id},
            success:function(data){
                //유저 리스트 리로드
                user_list_reload(data);
                //유저리스트 클릭 이벤트
                $(".data_piece").on("click", function() {
                    let user_email = $(this).data("email");
                    go_room(user_email);


                });
            }
        });




    });

    function user_list_reload(data){

        for(let i=0; i<data.length;i++){
            let item = data[i];

            let $user_list_ul = $("#major_menu ul");

            let html = "<li>\n" +
                "                <div class=\"data_piece\" data-nick-name="+item.nickName+" data-email="+item.userId+">\n" +
                "                    <div class =\"img_box fl\">\n" +
                "                        <img src=\"\" onerror=\"this.src='/res/user.png'\"></img>\n" +
                "                    </div>\n" +
                "                    <div class =\"info_box fl\">\n" +
                "                        <div class=\"user_nick_name\">"+item.nickName+"</div>\n" +
                "                        <div class=\"user_email\">"+item.userId+"</div>\n" +
                "                    </div>\n" +
                "                </div>\n" +
                "            </li>";
            $user_list_ul.append(html);
        }
    }

    function go_room(user_email) {
        location.href='/views/chatRoom.ejs?room_no='+0;
        // $.ajax({
        //     url:'/goRoom',
        //     dataType:'json',
        //     type:'POST',
        //     data:{'user_email':user_email},
        //     success:function(data){
        //         console.log("data:",data);
        //     }
        // });
    }

</script>

</body>
</html>
